<%= form_with(model: @building) do |form| %>
    <div>
        <%= form.label :nombre %>
        <%= form.text_field :nombre, class: "text-dark" %>
        <br>
    </div>
    <br>
    <div>
        <%= form.label :direccion %>
        <%= form.text_field :direccion, class: "text-dark" %>
        <br>
    </div>
    <br>
    <div>
        <%= form.label :ciudad %>
        <%= form.text_field :ciudad, class: "text-dark" %>
        <br>
    </div>
    <br>
    <%= form.submit 'guardar', class: "btn btn-success btn-lg" %> <br>

<% end %>