<div class="form-row text-center">
    <div class="col-12">
    <!-- header-->    
        <br><br>
        <h1>Edificios</h1>
        <p>asjhdlakjsdhlaks daklsjdhaklsjdhas lkdja</p>
        <br><br><br>
    <!-- Table -->
        <table class="table table-striped" style="width.100%">
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <!--<th colspan="3"></th>-->
            </tr>
        </thead>

        <tbody>
            <% @edificios.each do |torre| %>
            <tr>
                <td><%= torre.nombre %></td>
                <td><%= torre.direccion %></td>
                <td><%= torre.ciudad %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
    <!-- Buttons -->
        <div class="btn">
            <%= link_to 'Departamentos', departamentos_path, class: "btn btn-outline-secondary btn-lg" %>
        </div>
        <div class="btn">
            <%= link_to 'Inicio', root_path, class: "btn btn-outline-dark btn-lg" %>
        </div>
        <br>
    </div>
</div>