<div class="form-row text-center">
    <div class="col-12">
    <!-- header-->    
        <h1>Edificios</h1>
        <p>En esta sección puede ver el listado de edificios en catalogo,
        <br>agregar nuevos registros, o ver el detalle por edificio.</p>
        <br>
    <!-- Table -->
        <div class="container col-10">
        <table class="table table-dark table-hover ">
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Departamentos</th>
            </tr>
        </thead>

        <tbody>
            <% @edificios.each do |torre| %>
            <tr>
                <td><%= torre.nombre %></td>
                <td><%= torre.direccion %></td>
                <td><%= torre.ciudad %></td>
                <td><%= button_to 'Detalle', torre, :method => 'get', class: "btn btn-danger text-white" %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
        </div>
    <!--Registry Buttons-->
        <div class="btn">
        <%=link_to "nuevo edificio", new_building_path, class: "btn btn-success btn-lg" %>
        </div>
    <!-- Nav Buttons -->
        <div class="btn">
            <%= link_to 'Departamentos', departamentos_path, class: "btn btn-outline-secondary btn-lg" %>
        </div>
        <div class="btn">
            <%= link_to 'Inicio', root_path, class: "btn btn-outline-light btn-lg" %>
        </div>
        <br>
    </div>
</div>