<div class="form-row text-center">
    <div class="col-12"><div>
    <!-- header -->
        <h1>Departamentos</h1>
        <p>En esta sección puede ver el listado de todos los departamentos en registro.
        <br> También puede consultar el detalle por departamentos o agregar nuevos registros.</p>
        <br>
    <!-- Table -->
        <div class="container col-7">
        <table class="table table-dark table-hover ">
        <thead>
            <tr>
            <th class="col col-lg-2">Numero de departamento</th>
            <th class="col col-lg-3">Edificio</th>
            <!--<th>edificio id</th>-->
            <th class="col col-lg-2">Detalle</th>
            </tr>
        </thead>

        <tbody>
            <% @departamentos.each do |depa| %>
            <tr>
                <td><%= depa.numero %></td>
                <td><%= Building.find(depa.building_id).nombre %></td>
                <!--<td><%= depa.building_id %></td>-->
                <td><%= button_to 'Detalle', depa, :method => 'get', class: "btn btn-secondary text-white" %></td>
            </tr>
            <% end %>
        </div>
        </tbody>
        </table>
    <!--Registry Buttons-->
        <div class="btn">
        <%= link_to "nuevo departamento", new_apartment_path, class: "btn btn-success btn-lg" %>
        </div>
    <!-- Buttons -->
        <div class="btn">
            <%= link_to 'Edificios', edificios_path, class: "btn btn-outline-danger btn-lg" %>
        </div>
        <div class="btn">
            <%= link_to 'Inicio', root_path, class: "btn btn-outline-light btn-lg" %>
        </div>
        <br>
    </div>
</div>